---
interface Props {
  owner: string;
  repo: string;
}

const { owner, repo }: Props = Astro.props;

const codespacesUrl = `https://codespaces.new/${owner}/${repo}`;
const title = Astro.locals.t('gitHubCodespaces.title', {
  repo: `${owner}/${repo}`,
});
---

<a href={codespacesUrl} target="_blank" rel="noopener" class="codespaces-button" title={title}>
  <img src="https://github.com/codespaces/badge.svg" alt={title} style="max-width: 100%;" />
</a>

<style>
  .codespaces-button {
    display: inline-flex;
    align-items: center;
    padding-top: 1rem;
  }

  .codespaces-button img {
    height: auto;
    width: auto;
  }
</style>
